html{
    background-color: #4b0082;
}
header{
    background-color: #ff7f28;
    padding: 80px 0;
    margin-bottom: 20px;
}


body{
    background-color: #4b0082;
    font-family: 'Courier New', Courier, monospace;
}

.sfondo{
    background-color: #4b0082;
}

.sfondo1{
    background-color: #ff7f28;
}

.card {
    background-color: #ff7f28;
    
}

nav{
    background-color: aqua;
    
}

.nav-item{
    margin-right: 40px;
}

footer{
    background-color: #ff7f28;
    margin-top: 5%;
    color: black;
    padding: 3%;
}